<div class="col-xs-12 col-lg-12">
  <p id="notice" class="alert-success text-center">
    <%= notice %>
  </p>
</div>

<div class="clearfix"></div>
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <div class="close">
      <% @dog.tags.each do |tag| %>
        <%= content_tag :span, tag.name, class: "label label-danger"  %>
      <% end %>
    </div>
    <h4 class="modal-title">
      <%= @dog.name %>
    </h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-12">
        <% @dog.photos.each do |photoDog| %>
          <% if photoDog.id == @dog.avatar_id %>
            <%= image_tag photoDog.image.url(:medium), alt: @dog.name, class: 'img-responsive center-block img-circle' %>
          <% end %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-12">
        <div id="dogInfo">
          <ul>
            <li><a href="#descriptionDog">Acerca</a></li>
            <li><a href="#galeryDog">Galeria</a></li>
            <li><a href="#contactDog">Contacto</a></li>
          </ul>
          <div id="descriptionDog">
            <div class="row wrapable-text">
              <%= @dog.description %>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                Vaccines
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <%= @dog.vaccines %>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                Raza
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <%= @dog.race.name %>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                Edad
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <%= @dog.age %>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                Sexo
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <%= @dog.sex %>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                Tamaño
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <%= @dog.size %>
              </div>
            </div>
          </div>
          <div id="galeryDog">
            <div class="row">
              <div class="col-xs-12 col-lg-12">
                <% @dog.photos.each do |photoDog| %>
                  <% if photoDog.id != @dog.avatar_id && photoDog.image.exists?(:thumb) %>
                    <div class="col-xs-6 col-lg-3">
                      <%= link_to image_tag(photoDog.image.url(:thumb) , class: 'img-responsive center-block img-thumbail'), image_path(photoDog.image.url(:large)), data: {lightbox: @dog.name} %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div id="contactDog">
            <%= link_to current_user.name, 'https://www.facebook.com/'+current_user.uid %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-12">
          
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 col-sm-12 col-lg-12">
          <div class="btn-group">
            <%= link_to   dogs_path, class: "btn btn-default", title: "Back" do %>
              <i class="glyphicon glyphicon-arrow-left"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    initDogs();
  });
</script>