<% if current_user.present? %>
  <% @dogs.each do |dog| %>
    <div class="col-xs-6 col-sm-12 col-md-4 col-lg-4">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= link_to dog.name, dog, class: "btn btn-lg btn-link btn-block" %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <% dog.photos.each do |photoDog| %>
          <% if photoDog.id == dog.avatar_id %>
            <%= link_to  dog, title: dog.name do %>
              <%= image_tag photoDog.image.url(:medium), alt: dog.name, class: 'center-block img-responsive img-circle' %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <% dog.tags.each do |tag| %>
          <center>
            <%= content_tag :span, tag.name, class: "label label-danger"  %>
          </center>            
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="clearfix"></div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= paginate @dogs %>  
  </div>
<% else %>
  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
<% end %>
<div class="clearfix"></div>
